body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.styl1{
    text-align: center;
    background-color: grey;
    color:black;
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 3%;
    padding: 10px;
    border-radius: 10px;
    border:blueviolet 5px solid;
    min-height: 330px;
}
.bad{
    color:red;
}
.good{
    color:white;
    background-color: teal;
}
.left{
    float: left;
    margin-left: 10%;
}
.right{
    font-family: 'Comic Sans MS';
    float: left;
    text-align: center;
    background-color: grey;
    color:black;
    width: 58%;
    height: 100%;
    margin-left: 2%;
    margin-bottom: 3%;
    padding: 10px;
    border-radius: 10px;
    border:blueviolet 5px solid;
    min-height: 570px;
}
.wpro{
    background-color: seagreen;
    color: white;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    border:1px solid black;
    border-radius: 7px;
    padding: 4px;
}
.guzik{
    background-color: coral;
    color: black;
    border-radius: 20px;
    border: black 2px solid;
    padding:6px;
}
.guzik2{
    background-color: yellow;
    color: rebeccapurple;
    border-radius: 20px;
    border: black 2px solid;
    padding:6px;
    font-size: 30px;
}